doctype html
html
    head
        include partials/head.pug 
    body
        include partials/nav.pug
        
        div(class='container mb-3')
            h1 고려대학교 ICT 연구실
            br
            div(class="jumbotron")
                h2 블록체인 기반 공동주택 회의관리 시스템
                br                                                        
            ul
                    li
                        a(href='/api/queryallcars')  회의결과
                    br
                    li
                        a(href='/api/createcar')  새회의 추가
