doctype html
html(lang='ko')
    head      
        include partials/head.pug        
        
    body
        include partials/nav.pug

        div(class='container mb-3')
            h2(class='mb-3') 고객지원
            p dcnlab@korea.ac.kr