nav(class='navbar navbar-expand-sm navbar-light bg-light mb-3')
    div(class='container')
        div(class='navbar-brand') ICT Lab.
        button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
            span(class='navbar-toggler-icon')
        div(class='collapse navbar-collapse' id='navbarSupportedContent')
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(href="/" class="nav-link") 홈
                li(class='nav-item')
                    a(href="/api/queryallcars" class="nav-link") 회의결과
                li(class='nav-item')
                    a(href="/api/about" class="nav-link") 고객지원
            